@import "mixins.scss",
		"superslides.css",
		"UniSansBold",
		"video_popover.css",
		url(http://fonts.googleapis.com/css?family=Roboto:100,400,600);

$responsive_start: 940px;
$mobile_start: 450px;
$mobile_height: 460px;

$default_color: #4eae88;
$alt_color: white;
$secondary_color: #e2e3e4;
$facebook_blue: #3B5998;
$google_red: #dd4b39;

$default_font: "Rokkit", "Helvetica";

// slides

$slide_1: url( '../images/slide_balloon.jpg' );
$slide_2: url( '../images/slide_ski.jpg' );
$slide_3: url( '../images/slide_fish.jpg' );

$slide_1_blur: url( '../images/slide_balloon_blur.jpg' );
$slide_2_blur: url( '../images/slide_ski_blur.jpg' );
$slide_3_blur: url( '../images/slide_fish_blur.jpg' );

body {
	font-family: Roboto;
	color: $default_color;
}

iframe {
	width: 100%;
}

.hidden {
	display: none !important;
}

.half {
	width: 50%;
	display: inline-block;
	@media( max-width: $responsive_start ) {
		width: 100%;
	}
}

.beta {
	text-transform: uppercase;
	font-size: 12px;
	font-family: "Roboto", "Helvetica";
}

#app_store_button, #play_button {
	float: left;
	margin-top: 15px;
}

#app_store_button {
	margin-right: 20px;
	> img {
		top: initial !important;
		height: initial !important;
		position: relative !important;
		left: initial !Important;
		z-index: 1 !important;
		width: auto !important;
		height: 59px !important;
	}
	@media( max-width: $mobile_start ) {
		display: none;
	}
}

#play_button {
	border: 3px solid $default_color;
	border-radius: 7px;
	line-height: 61px;
	display: inline-block;
	color: $default_color;
	background-color: rgba( 255, 255, 255, 0.8);
	width: 367px;
	max-width: 100%;
	text-align: center;
	i {
		margin-left: 15px;
		margin-right: 15px;
	}
	padding-right: 15px;
	@media( max-width: $mobile_start ) {
		width: auto;
	}
}

.slides-container {
	li {
		background-size: cover;
		background-repeat: no-repeat;
		background-position-x: left;
		background-position-y: top;
		@include flexbox( center, '!important' );
		.container {
			width: 80%;
			hr {
				border: none;
				border-top: 1px solid $secondary_color;
				margin-top: 15px;
				margin-bottom: 15px;
			}
			h1 {
				font-family: $default_font;
				font-weight: 400;
				margin-top: 10px;
				margin-bottom: 10px;
				.beta {
					color: $alt_color;
				}
			}
			h2 {
				font-family: $default_font;
				font-weight: 100;
				color: #3f3f3f;
				margin-top: 10px;
				margin-bottom: 10px;
			}
			p {
				color: $alt_color;
			}
			a {
				color: $alt_color;
				text-decoration: none;
				.beta {
					font-weight: 700;
					font-size: inherit;
				}
			}
		}
	}
}

nav.slides-pagination {
	display: none;
}

#responsive-menu-toggle {
	display: none;
	position: absolute;
	z-index: 99;
	top: 15px;
	right: 15px;
	font-size: 30px;
	color: $default_color;
	z-index: 999;
	&:visited, &:hover {
		color: $default_color;
	}
}
@media( max-width: $responsive_start ) {
	#responsive-menu-toggle {
		display: block;
 	}
}
@media( max-width: $mobile_start ) {
	#responsive-menu-toggle {
		display: none;
	}
}

#menu, .mobile_logo {
	position: fixed;
	top: 15px;
	left: 15px;
	z-index: 100;
	h1 {
		font-family: $UniSansBold;
		margin-top: 0px;
		margin-bottom: 0px;
		margin-left: 15px;
	}
	h1, ul, img {
		display: inline-block;
		float: left;
	}
}
.mobile_logo {
	display: none;
	img {
		width: 40px;
	}
	h1, a {
		line-height: 40px;
	}
	@media( max-width: $responsive_start ) {
		display: block;
	}
}
#menu {
	h1, a {
		line-height: 60px;
	}
	img {
		width: 60px;
	}
	ul {
		padding-left: 15px;
		list-style: none;
		margin-top: 0px;
		margin-bottom: 0px;
		li {
			display: inline-block;
			margin-left: 15px;
			margin-right: 15px;
			a {
				text-decoration: none;
				font-size: 20px;
				font-family: $default_font;
			}
		}
	}
	@media( max-width: $responsive_start ) {
		box-shadow: rgba(0, 0, 0, 0.4) 0px -1px 5px 0px inset;
		height: 0px;
		width: 100%;
		overflow: hidden;
		top: 0px;
		left: 0px;
		position: relative;
		background-color: #F5F5F5;
		img, h1 {
			display: none;
		}
		ul {
			li {
				width: 100%;
				display: block;
				margin-top: 20px;
				margin-bottom: 20px;
				margin-left: 0px;
				a {
					color: $default_color !important;
					left: 0px;
					position: relative;
					width: 100%;
					text-align: center;
					&.active, &:hover {
						border: none !important;
					}
				}
			}
		}
	}
}

/* Enforce different menu colours for light backgrounds */
body #menu {
	h1, a, li {
		color: $default_color;
		transition: color 1s ease;
	}
	a:hover, a.active {
		border-bottom: 3px solid $default_color;
	}
}
h1, h2 {
	transition: color 1s ease;	
}
body.light {
	#menu {
		h1, a, li {
			color: $alt_color;
		}
		a:hover, a.active {
			border-bottom: 3px solid $alt_color;
		}
	}
	#responsive-menu-toggle {
		color: $alt_color !important;
	}
	h1, h2 {
		color: white !important;
	}
}

#social_icons {
	position: fixed;
	top: 15px;
	right: 40px;
	z-index: 100;
	ul {
		list-style: none;
		li {
			display: inline-block;
			margin-left: 15px;
			margin-right: 15px;
			a {
				text-decoration: none;
				font-size: 25px;
				color: $alt_color;
				@include opacity( 0.7 );
				&:hover {
					@include opacity( 0.99 );
					color: $default_color;
				}
			}
		}
	}
	@media( max-width: $responsive_start ) {
		display: none;
	}
}

#phone {
	position: fixed;
	right: 20%;
	top: 10%;
	z-index: 9;
	width: 359px;
	height: 768px;
	overflow: hidden;
	#phone_relative_container {
		position: relative;
		float: left;
		border: 1px solid transparent;
		border-radius: 54px;
		width: 358px;
		overflow: hidden;
		height: 768px;
		z-index: 2000;
	}
	#phone-pic {
		position: absolute;
		top: 0px;
		left: 0px;
		z-index: 3000;
	}
	.slide-home {
		background-image: $slide_1_blur;
	}
	.slide-next {
		background-image: $slide_2_blur;
	}
	.slide-nextnext {
		background-image: $slide_3_blur;
	}
	.slide-nextnextnext {
		background-image: $slide_3_blur;
	}
	@media( max-width: 1280px ) {
		right: 15%;
	}
	@media( max-width: $responsive_start ) {
		display: none;
	}
}

#slides, #screen-slides {
	.slide-home {
		background-image: $slide_1;
	}
	.slide-next {
		background-image: $slide_2;
	}
	.slide-nextnext {
		background-image: $slide_3;
	}
	.slide-nextnextnext {
		background-image: $slide_3;
	}
}

#slides {
	.container {
		position: relative;
		top: -30px;
	}
}

#screen-slides {
	width: 200px;
	height: 200px;
	z-index: 3000;
	position: absolute !important;
	top: 0px;
	left: 0px;
	img {
		position: absolute;
		top: 0px;
		left: 0px;
		width: 100%;
	}
}

$footer_height: 60px;
$footer_css3_height: 9vh;
#footer {
	z-index: 4000;
	position: fixed;
	bottom: 0px;
	height: $footer_height;
	height: $footer_css3_height;
	text-align: center;
	margin: 0 auto;
	width: 100%;
	z-index: 100;
	p, i, input {
		line-height: $footer_height;
		line-height: $footer_css3_height;
		display: inline-block;
		margin: 0;
	}
	i {
		display: none;
		font-size: 20px;
	}
	form {
		height: 100%;
	}
	.register {
		display: inline-block;
		margin: 0;
		padding: 0;
		float: left;
		color: $alt_color;
		height: 100%;
		font-size: 17px;
		width: 100%;
		overflow: hidden;
		font-size: 17px;
		text-align: center;
		border: none;
		border: 0;
		border-radius: 0px;
		&:hover {
			cursor: pointer;
		}
		&.email {
			cursor: inherit;
			background-color: $default_color;
		}
		&.success {
			width: 100% !important;
			background-color: #5cb85c;
		}
		&.responsive {
			display: none;
			font-family: "FontAwesome";
		}
		@media( max-width: $responsive_start ) {
			p {
				display: none;
			}
			i {
				display: inline-block;
			}
		}
		@include placeholder {
			color: $alt_color;
		}

		// Generally center align is fine. But if the screen is small then
		// we risk closeness/overlap with the absolutely positioned submit
		// button. Therefore, when the submit button is present (element
		// focus) on small screens, left align everything.
		@media( max-width: $mobile_start ) {
			&.email:focus {
				text-align: left !important;
				@include placeholder {
					text-align: left !important;
				}
			}
		}
	}
	@media( max-width: $responsive_start ) {
		input.register {
			display: none;
		}
		input.register.responsive {
			display: inline-block;
		}
	}

	// Work around iOS non-compliance with vh and position: fixed.
	@media( max-width: $mobile_start ) {
		position: absolute;
		height: 9% !important;
	}
	.submit {
		position: absolute;
		right: 20px;
		height: 100%;
		background-color: transparent;
		border: none;
		cursor: pointer;
		color: $alt_color;
		font-size: 14px;
		font-family: "FontAwesome", "Roboto";
		@media( max-width: $responsive_start ) {
			display: none;
		}
	}
}

#legal {
	position: absolute;
	right: 10px;
	bottom: 10vh;
	z-index: 2;
	a, a:hover, a:visited {
		color: gray;
		font-size: 12px;
		text-decoration: none;
	}
}

/* Mobile Draggable */
.slide-home {
	.container, .mobile_overlay {
		background-color: transparent;
	}
	.mobile_overlay {
		display: none;
		background-image: $slide_1;
		background-position-x: right;
		background-position-y: top;
		background-attachment: fixed;
		background-size: cover;
	}
	.regular {
		display: block;
	}
	@media( max-width: $mobile_start ) {
		background-position-x: left !important;
		background-position-y: top;
		.container {
			width: 100% !important;
			height: 100%;
			top: 0px !important;
		}
		.mobile_overlay {
			@include flexbox( 'center' );
			margin: 0 auto;
			text-align: center;
			width: 100%;
			height: 100%;
			> #draggable {
				width: 60% !important;
				height: auto !important;
				position:relative !important;
				left: 0px !important;
				top: 0px !important;
				z-index: 9001 !important; // ovar 9000! 
				-webkit-transition: none;
				-webkit-user-drag: none;
				transition: none;
			}
			// superslides messes up the images, we need to correct for this
			.centered {
				img {
					width: 100% !important;
					height: inherit !important;
					top: inherit !important;
					left: inherit !important;
					position: relative !important;
					backface-visibility: visible !important;
					-webkit-backface-visibility: visible !important;
					&#draggable {
						width: 95% !important;
						top: 6px !important;
						z-index: 999999 !important;
						-webkit-user-select: none;
						-webkit-touch-action: none;
						-webkit-user-drag: none;
						touch-action: auto;
					}
					&#buttons {
						width: 50% !important;
						margin-bottom: 25px !important;
						z-index: 2 !important;
					}
				}
				.draggable_underlay {
					top: -20px;
					margin: 0 auto;
					width: 70%;
					background-image: url(../images/deck_small.png );
					background-size: contain;
					background-repeat: no-repeat;
					min-height: 54vh;
					position: relative;
				}
			}
		}
		.regular {
			display: none;
			position: absolute;
			left: 0px;
			top: 0px;
		}
	}
}
.enable_animation {
	-webkit-transition: all 0.5s ease-out !important;
	transition: all 0.5s ease-out !important;
}

/* Actual Slide Content Styling */
#slides {
	.slide-home .regular {
		// hack together a 4:3 aspect ratio
		.video_container {
			position: relative;
			&:before {
				content: "";
				display: block;
				padding-top: 10%;
				@media( max-width: $mobile_start ) {
					padding-top: 25% !important;
				}
			}
			iframe {
				position: absolute;
				top: 0px;
				left: 0px;
				height: 100%;
				width: 100%;
			}
			p {
				color: #4c4c4c;
				@media( max-height: $mobile_height ) {
					display: none;
				}
			}
		}
		@media( max-width: $mobile_start ) {
			width: 82%;
			padding: 30px;
			padding-top: 15px;
			h1 {
				margin-top:0px;
				padding-top:0px;
			}
		}
	}
}

/* Video Popover */
.mfp-fade.mfp-bg {
	opacity: 0.001; /* Chrome opacity transition bug */
	-webkit-transition: all 0.15s ease-out; 
	-moz-transition: all 0.15s ease-out; 
	transition: all 0.15s ease-out;
}
.mfp-fade.mfp-bg.mfp-ready {
	opacity: 0.8;
}
.mfp-fade.mfp-bg.mfp-removing {
	opacity: 0;
}

.mfp-fade.mfp-wrap .mfp-content {
	opacity: 0;
	-webkit-transition: all 0.15s ease-out; 
	-moz-transition: all 0.15s ease-out; 
	transition: all 0.15s ease-out;
}
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
	opacity: 1;
}
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
	opacity: 0;
}

/* Yet Another Slider */
@media( max-width: $mobile_start ) {
	.slide-next {
		.container {
			width: 100% !important;
		}
	}
}
.featureslider {
	position: relative;
	overflow: hidden;
	margin: 20px auto 0 auto;
	border-radius: 4px;
	max-width: 100%;
	img {
		position: relative !important;
		left: initial !important;
		top: initial !important;
		z-index: initial !important;
		max-width: initial !important;
		height: initial !important;
		width: 60% !important;
	}
	ul {
	  position: relative;
	  margin: 0;
	  padding: 0;
	  height: 200px;
	  list-style: none;
	  overflow: hidden;
	  height: 350px;
	  li {
		  position: relative;
		  display: block !important;
		  float: left;
		  margin: 0;
		  padding: 0;
		  width: 500px;
		  height: 300px;
		  text-align: center;
		  width: 450px;
		  height: 350px;
		  h1, h2 {
		  	color: white !important;
		  }
		  h1 {
		  	font-size: 30px;
		  	@media( max-width: $mobile_start ) {
		  		font-size: 20px;
		  	}
		  }
		  h2 {
		  	font-size: 20px;
		  	@media( max-width: $mobile_start ) {
		  		font-size: 15px;
		  	}
		  }
		  @media( max-width: $mobile_start ) {
		  	height: 255px;
		  }
		}
		@media( max-width: $mobile_start ) {
			height: 255px;
		}
	}
	a.control_prev, a.control_next {
	  position: absolute;
	  top: 40%;
	  z-index: 999;
	  display: block;
	  padding: 4% 3%;
	  width: auto;
	  height: auto;
	  color: #729ab8;
	  text-decoration: none;
	  font-weight: 600;
	  font-size: 45px;
	  opacity: 0.8;
	  cursor: pointer;
	}

	a.control_prev:hover, a.control_next:hover {
	  opacity: 1;
	  -webkit-transition: all 0.2s ease;
	}

	a.control_prev {
	  border-radius: 0 2px 2px 0;
	}

	a.control_next {
	  right: 0;
	  border-radius: 2px 0 0 2px;
	}

	.slider_option {
	  position: relative;
	  margin: 10px auto;
	  width: 160px;
	  font-size: 18px;
	}
}

.download-btn {
	border-radius: 7px;
	display: block;
	color: #4eae88;
	width: 238px;
	margin-top: 15px;
	margin-bottom: 15px;
	position: relative;
	left: -42px;
	i {
		margin-left: 15px;
		margin-right: 15px;
	}
}