/* Scss Document */

$dir: /wp-content/themes/imge-framework/imge-custom;
$childDir: /wp-content/themes/imge-framework-child/imge-custom;
$imgDir: /wp-content/themes/imge-framework-child/imge-custom/img;

@mixin prefixer($property, $value) {
     @each $prefix in -webkit-, -moz-, -ms-, -o-, '' {
          #{$prefix}#{$property}: $value;
     }
}


@mixin opacity($opacity) {
     opacity: $opacity;
     $opacityIE: $opacity * 100;
     //filter: alpha(opacity=$opacityIE);
     filter: progid:DXImageTransform.Microsoft.Alpha(opacity=#{$opacityIE});
	  zoom: 1;
}

@mixin backgroundAlpha($r,$g,$b,$a) {
	$urlAlpha : $a * 100;
	background: url(#{$dir}/inc/compatability/rgba/rgba.php?r=#{$r}&g=#{$g}&b=#{$b}&a=#{$urlAlpha});
	background: rgba($r, $g, $b, $a);
	$ieColor: ie-hex-str(rgba($r, $g, $b, $a));
	_background:none;
	_filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{$ieColor}', endColorstr='#{$ieColor}',GradientType=0 );
}

@mixin backgroundAlpha2($color,$a) {
	$urlAlpha : $a * 100;
	$r: red($color);
	$g: green($color);
	$b: blue($color);

	//$ieColor: str-slice($color, 1, str-length); 
	$ieColor: ie-hex-str(rgba($r, $g, $b, $a)); 

	background: url(#{$dir}/inc/compatability/rgba/rgba.php?r=#{$r}&g=#{$g}&b=#{$b}&a=#{$urlAlpha});
	background: rgba($r, $g, $b, $a);
	_background:none;
	_filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{$ieColor}', endColorstr='#{$ieColor}',GradientType=0 );
}

@mixin absPosition ($top: auto, $right: auto, $bottom: auto, $left: auto) {
     position: absolute;
     top: $top;
     right: $right;
     bottom: $bottom;
     left: $left;
}

@mixin fixedPosition (){
	position:fixed !important;
	_position:absolute; /* position fixed for IE6 */ 
	_top: 0px; 
	_top: expression( ( 0 + ( ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop ) ) + 'px' );  
}

@mixin minHeight ($num) {
	min-height:$num;
	height:auto !important;
	_height:$num;
}

@mixin backgroundSize($prop) {
	background-size:$prop;

	behavior: url(#{$dir}/inc/compatability/backgroundsize.htc)\9;
	_behavior: none;
	background-position:50%;
}

@mixin dynamicGradient($startHex, $startRGBA, $startAlpha, $endHex, $endRGBA, $endAlpha) {
	background: url(#{$dir}/inc/compatability/linear-gradient-svg.php?start-color=#{$startHex}&end-color=#{$endHex}&start-opacity=#{$startAlpha}&end-opacity=#{$endAlpha});
	background: -moz-linear-gradient(top,  #{$startRGBA} 0%, #{$endRGBA} 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#{$startRGBA}), color-stop(100%,#{$endRGBA}));
	background: -webkit-linear-gradient(top,  #{$startRGBA} 0%,#{$endRGBA} 100%);
	background: -o-linear-gradient(top,  #{$startRGBA} 0%,#{$endRGBA} 100%);
	background: -ms-linear-gradient(top,  #{$startRGBA} 0%,#{$endRGBA} 100%);
	background: linear-gradient(to bottom,  #{$startRGBA} 0%,#{$endRGBA} 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='##{$startHex}', endColorstr='#00000000',GradientType=0 );
}

@mixin radialGradient($colors, $direction: "to bottom") {  
    $stripe-width: 100% / length($colors);
    $auto:         if( type-of(nth($colors, 1)) == list, false, true );
    $gradient:     ();
    $svgStop: 	   "";
    $dx:		   nth($direction, 2);
    $dy:		   nth($direction, 1);
    $urlX:		   ();
    $urlY:		   ();

    $t:();


    @if $dy == top {
    	$urlY:	0;
    }

    @if $dy == center {
    	$urlY:	50;
    }

    @if $dy == bottom {
    	$urlY:	100;
    }

    @if $dx == left {
    	$urlX:	0;
    }

    @if $dx == center {
    	$urlX:	50;
    }

    @if $dx == right {
    	$urlX:	100;
    }
    
    @for $i from 1 through length($colors) {
        $item: nth($colors, $i);
        $dump: ();
        $svgDump: ();

   		$hash: null;

        $color : nth($item, 1);

    	$a : nth($item, 2);
    	$stop : nth($item, 3);

    	

    	$urlAlpha : $a * 100;
		$r: red($color);
		$g: green($color);
		$b: blue($color);


		$rgba : rgba($r,$g,$b,$a);

		$rgb : #{$r},#{$g},#{$b};

		$str : "&stop[]=";


      
        @if $auto == true {
            $dump: $item $stripe-width * ($i - 1), $item $stripe-width * $i;
        }
      
        @else {   
            
               $dump: append($dump, $rgba $stop*1%);

               $svgDump: append($svgDump,#{$rgb}-#{$a}-#{$stop});
           

        }

        $gradient: join($gradient, $dump, comma);

        @if $i == length($colors){
        	$svgStop: #{$svgStop}#{$svgDump};
        }
        
        @else{
        	$svgStop: #{$svgStop}#{$svgDump}#{$str};
        }
        
    }		

   
   background:url(#{$dir}/inc/compatability/radial-gradient-svg.php?stop[]=#{$svgStop}&xPos=#{$urlX}&yPos=#{$urlY}) !important; 


   background:-moz-radial-gradient(#{$dy} #{$dx}, circle cover, #{$gradient}) !important;

   background:-webkit-radial-gradient(#{$dy} #{$dx}, circle cover, #{$gradient}) !important;
   background:-o-radial-gradient(#{$dy} #{$dx}, circle cover, #{$gradient}) !important;
   background:-ms-radial-gradient(#{$dy} #{$dx}, circle cover, #{$gradient}) !important;
   background:radial-gradient(circle at #{$dy} #{$dx}, #{$gradient}) !important;
}

@mixin box-shadow ($x: 1px, $y: 1px, $blur: 2px, $spread: 0, $alpha: 0.25) {
  @include prefixer(box-shadow,$x $y $blur $spread rgba(0, 0, 0, $alpha));
}


@mixin text-shadow ($x: 1px, $y: 1px, $blur: 2px, $alpha: 0.25) {
 text-shadow:($x $y $blur rgba(0, 0, 0, $alpha));
}


@mixin cols ($num: 2, $gap: 20px) {
	@include prefixer(column-count, $num);
	@include prefixer(column-gap, $gap);
}

@mixin placeholder {
  &::-webkit-input-placeholder {@content}
  &:-moz-placeholder           {@content}
  &::-moz-placeholder          {@content}
  &:-ms-input-placeholder      {@content}  
}

@mixin font-size($sizeValue: 12 ){
  font-size: $sizeValue + px; //fallback for old browsers
  font-size: (0.1 * $sizeValue) + rem;
}

@mixin better_opacity($value, $important:"") {
  opacity: #{"." + $value} unquote($important);
  filter: alpha(opacity=$value) unquote($important);
  -ms-filter: "alpha(opacity=$value)" unquote($important);
  -khtml-opacity: #{"." + $value} unquote($important);
  -moz-opacity: #{"." + $value} unquote($important);
}
@mixin flexbox( $alignment, $important:"" ) {
  display: -webkit-box unquote($important);
    display: -webkit-flex unquote($important);
    display: -ms-flexbox unquote($important);
    display: -moz-box unquote($important);
    display: flex unquote($important);
    -webkit-box-align: unquote( $alignment ) unquote($important);
    -webkit-align-items: unquote( $alignment ) unquote($important);
    -webkit-flex-align: unquote( $alignment ) unquote($important);
    -webkit-justify-content: unquote( $alignment ) unquote($important);
    -ms-box-align: unquote( $alignment ) unquote($important);
    -ms-align-items: unquote( $alignment ) unquote($important);
    -ms-flex-align: unquote( $alignment ) unquote($important);
    -ms-justify-content:  unquote( $alignment ) unquote($important);
    align-items: unquote( $alignment ) unquote($important);
  justify-content: unquote( $alignment ) unquote($important);
}

@mixin transform( $x, $y, $z, $important:"" ) {
  -webkit-transform: translate3d( $x, $y, $z ) unquote($important);
  -moz-transform: translate3d( $x, $y, $z ) unquote($important);
  -ms-transform: translate3d( $x, $y, $z ) unquote($important);
  transform: translate3d( $x, $y, $z ) unquote($important);
}

@mixin blur( $px ) {
  filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='str-slice($px,-2,-1)');
  -webkit-filter: blur( $px );
  -o-filter: blur( $px );
  -moz-filter: blur( $px );
  -ms-filter: blur( $px );
  filter: blur( $px );
}

